<!DOCTYPE html>
<html>
<head>
    <title>Resumable.js - Multiple simultaneous, stable and resumable uploads via the HTML5 File API</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body>
{{{body}}}
</body>
</html>